body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:72px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:187px;
  width:50px;
  height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:197px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:235px;
  width:280px;
  height:51px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:52px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:296px;
  width:280px;
  height:51px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:52px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:357px;
  width:280px;
  height:51px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:52px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:172px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:172px;
}
#u14 {
  position:absolute;
  left:2px;
  top:78px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:320px;
  top:72px;
  width:321px;
  height:809px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:809px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:20px;
  top:30px;
  width:120px;
  height:113px;
  -webkit-transform:rotate(354deg);
  -moz-transform:rotate(354deg);
  -ms-transform:rotate(354deg);
  transform:rotate(354deg);
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:113px;
}
#u17 {
  position:absolute;
  left:2px;
  top:48px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:168px;
  top:66px;
  width:65px;
  height:16px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:146px;
  top:92px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:32px;
  top:210px;
  width:65px;
  height:16px;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:10px;
  top:236px;
  width:138px;
  height:16px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:175px;
  top:161px;
  width:104px;
  height:148px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:148px;
}
#u27 {
  position:absolute;
  left:2px;
  top:66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:205px;
  top:378px;
  width:65px;
  height:16px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:183px;
  top:404px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:14px;
  top:350px;
  width:141px;
  height:100px;
  -webkit-transform:rotate(352deg);
  -moz-transform:rotate(352deg);
  -ms-transform:rotate(352deg);
  transform:rotate(352deg);
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:44px;
  top:518px;
  width:65px;
  height:16px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:22px;
  top:544px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:184px;
  top:476px;
  width:110px;
  height:153px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:153px;
}
#u39 {
  position:absolute;
  left:2px;
  top:68px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:140px;
  top:100px;
  width:10px;
  height:117px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u40_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:108px;
  width:20px;
  height:14px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:117px;
}
#u41 {
  position:absolute;
  left:160px;
  top:416px;
  width:10px;
  height:117px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u41_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:108px;
  width:20px;
  height:14px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:117px;
}
#u42 {
  position:absolute;
  left:150px;
  top:266px;
  width:10px;
  height:117px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u42_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:108px;
  width:20px;
  height:14px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:117px;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:809px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:128px;
  top:40px;
  width:172px;
  height:170px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:170px;
}
#u44 {
  position:absolute;
  left:2px;
  top:77px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:28px;
  top:90px;
  width:72px;
  height:19px;
  font-size:16px;
  color:#000099;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:15px;
  top:119px;
  width:98px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:128px;
  top:280px;
  width:172px;
  height:170px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:170px;
}
#u50 {
  position:absolute;
  left:2px;
  top:77px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:28px;
  top:330px;
  width:72px;
  height:19px;
  font-size:16px;
  color:#000099;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:15px;
  top:359px;
  width:98px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:128px;
  top:510px;
  width:172px;
  height:170px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:170px;
}
#u56 {
  position:absolute;
  left:2px;
  top:77px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:28px;
  top:560px;
  width:72px;
  height:19px;
  font-size:16px;
  color:#000099;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:15px;
  top:589px;
  width:98px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u15_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:809px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 255, 255, 0.5176471);
  background-image:none;
}
#u15_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:84px;
  top:50px;
  width:152px;
  height:24px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:290px;
  width:280px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u64 {
  position:absolute;
  left:20px;
  top:310px;
  width:280px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:41px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:20px;
  top:370px;
  width:280px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:41px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:68px;
  top:94px;
  width:183px;
  height:176px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:176px;
}
#u69 {
  position:absolute;
  left:2px;
  top:80px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:190px;
  top:154px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:150px;
  top:172px;
  width:20px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:110px;
  top:190px;
  width:20px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:3px;
  top:450px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:61px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:40px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:22px;
  top:20px;
  width:21px;
  height:40px;
  font-size:36px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:60px;
  top:30px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:45px;
  top:31px;
  width:10px;
  height:20px;
}
#u89_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u89_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u89_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:20px;
}
#u90 {
  position:absolute;
  left:298px;
  top:30px;
  width:3px;
  height:3px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:298px;
  top:38px;
  width:3px;
  height:3px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:298px;
  top:46px;
  width:3px;
  height:3px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:22px;
  top:30px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:289px;
  top:25px;
  width:20px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
