/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
#title h3{
    color: lightgray;
}
body{
    background-color: white;
}
h2{
    clear: #222222;
}
#content{
    margin-left: 10%;
    margin-top: 50px;
}
a:link{
    color: cornflowerblue;
    text-decoration: none;
}
a:hover{
    color: blue;
}
a:visited{
    color: cornflowerblue;
}
a:active{
    color: blue;
}

