/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
h3{
    color: cornsilk;
}
body{
    background-color: darkgray;
}
h2{
    clear: #222222;
}
